<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>시설소개 | 프로젝트1610</title>
    <link rel="stylesheet" href="/css/gym/setting.css">
    <link rel="stylesheet" href="/css/gym/plugin.css">
    <link rel="stylesheet" href="/css/gym/template.css">
    <link rel="stylesheet" href="/css/gym/common.css">
    <link rel="stylesheet" href="/css/gym/style.css">
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>

</head>
<body>
    <div layout:fragment="content">
        <div class="th-layout-main ">
            <!-- [S]campland-N8 -->
            <!-- [E]campland-N8 -->
            <!-- [S]campland-N10 -->
            <div class="campland-N10" data-bid="giLXFmD3rk">
                <div class="contents-inner">
                    <div class="contents-container container-md">
                        <div class="textset textset-sub">
                            <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';" >헬스장 정보</h2>
                        </div>
                        <hr/>
                        <div class="textset textset-sub" style="margin-top: 50px;">
                            <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';" th:text="${gym.gymname}"></h2>
                        </div>
                        <div class="location" style=" display:flex; flex-wrap:wrap;">
                            <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                            <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';" th:text="${gym.gymaddr}"></h2>
                        </div>
                        <div class="contents-body">
                            <div class="contents-left">
                                <div class="imageset">
                                    <img th:src="@{/images/gym/}+${gym.gymphoto}" width="400">
                                </div>
                            </div>
                            <div class="contents-right">
                                <div class="contents-group">
                                    <h5 class="contents-subtit" style="font-family: 'SUITE-Regular';">이용금액</h5>
                                    <ul class="contents-list">
                                        <li class="contents-item">
                                            <span class="contents-item-name">일일 이용권</span>
                                            <span class="contents-item-price" th:text="${gym.dayprice}"></span>
                                        </li>
                                        <li class="contents-item">
                                            <span class="contents-item-name">주간 이용권</span>
                                            <span class="contents-item-price" th:text="${gym.weekprice}"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contents-group">
                                    <h5 class="contents-subtit"  style="font-family: 'SUITE-Regular';">시설안내</h5>
                                    <ul class="contents-list">
                                        <li class="contents-item">
                                            <span class="contents-item-name">- 면적 : 7m x 7.2m (Site)</span>
                                        </li>
                                        <li class="contents-item">
                                            <span class="contents-item-name">- 가용인원 :약 100명 </span>
                                        </li>
                                        <li class="contents-item">
                                            <span class="contents-item-name">- 운영시간 : 연주무휴 </span>
                                        </li>
                                        <li class="contents-item">
                                            <span class="contents-item-name">- </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contents-group">
                                    <h5 class="contents-subtit"  style="font-family: 'SUITE-Regular';">기타</h5>
                                    <ul class="contents-list">
                                        <li class="contents-item">
                                            <span class="contents-item-name"  th:text="${gym.info}"></span>
                                        </li>
                                        <li class="contents-item">
                                            <span class="contents-item-name">- </span>
                                            <span class="contents-item-price"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="contents-button">
                            <a th:href="@{/gymPayment(dayPrice=${gym.dayprice},weekPrice=${gym.weekprice},gymboardnum=${gym.gymboardnum})}" class="btnset btnset-round">RESERVATION</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [E]campland-N2 -->
    <script src="js/gym/setting.js"></script>
    <script src="js/gym/plugin.js"></script>
    <script src="js/gym/template.js"></script>
    <script src="js/gym/common.js"></script>
    <script src="js/gym/script.js"></script>
</body>
</html>