<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>헬스장 정보</title>
    <link rel="stylesheet" href="/css/gym/setting.css">
    <link rel="stylesheet" href="/css/gym/plugin.css">
    <link rel="stylesheet" href="/css/gym/template.css">
    <link rel="stylesheet" href="/css/gym/common.css">
    <link rel="stylesheet" href="/css/gym/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        //타임리프에서 사용하는 변수를 자바스크립트에서 사용하는 경우
        //jQuery를 이용해서 select에서 선택을 하면 컨트롤러가 요청되도록 처리
        let category=/*[[${category}]]*/; //컨트롤러를 요청하고 response 될때 공유해준 값을 타임리프를 실행해서 받아옴
        /*alert(category);*/
        $(document).ready(function(){
            //alert("컨트롤러가 공유한 데이터=>"+category);
            //console.log("컨트롤러가 공유한 데이터=>"+category);
            //select에서 선택된 option에 selected속성을 추가
            $("#category").val(category).attr("selected","selected");
            $("#category").change(function(){
                //select가 변경되는 change이벤트가 발생하면 컨트롤러를 호출함
                //alert($(this).val())
                location.href="/erp/board/list?category="+$(this).val()
            })
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        let gymaddr=/*[[${gymaddr}]]*/;
        $(document).ready(function(){
            $(".selectset-link").click(function(){
                var selectedRegion = $(this).val();
                location.href = "/gymlist?gymaddr=" + selectedRegion;
                alert("실행중");
            });
        });
    </script>
</head>
<body>

    <div layout:fragment="content">
        <main class="th-layout-main ">
            <!-- [S]campland-N8 -->
            <div class="campland-N8" data-bid="oTLxFHl9Tn">
                <div class="contents-container">
                    <img class="contents-visual img-pc" src="/images/health4.jpg" alt="서브 비주얼 PC 이미지">
                    <img class="contents-visual img-mobile" src="/images/health4.jpg" alt="서브 비주얼 모바일 이미지">
                    <div class="contents-body container-md">
                        <div class="textset textset-visual" >
                            <h2 class="textset-tit" style="font-family: 'SUITE-Regular'; color: whitesmoke">헬스장</h2>
                        </div>
                    </div>
                </div>
            </div>
            <li class="contents-item">
                <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                    <span></span>헬스장검색 검색
                </h6>
                <form th:action="@{/gymlist}" method="get">
                    <div class="form-wrap">
                        <div class="inputset inputset-round">
                            <input type="text" id="gymname" name="gymname" class="inputset-input form-control" aria-label="내용" placeholder="검색">
                        </div>
                    </div>
                </form>
            </li>
            <!-- [E]campland-N8 -->
            <!-- [S]campland-N22 -->
            <div class="campland-N22" data-bid="tnLXfHL9xK">
                <div class="contents-inner">
                    <div class="contents-container container-md">
                        <div class="textset textset-sub">
                        </div>
                        <div class="form-wrap">
                            <div class="contents-form-group">
                                <h6 class="form-tit">카테고리</h6>
                                <div class="selectset selectset-round">
                                    <button class="selectset-toggle btn" type="button">
                                        <span>전체</span>
                                    </button>
                                    <ul class="selectset-list">
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="전체">
                                                <span>전체</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="카테고리1">
                                                <span>카테고리1</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="카테고리2">
                                                <span>카테고리2</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contents-form-group">
                                <form th:action="@{/gymlist}" method="get">
                                    <h6 class="form-tit">지역 선택</h6>
                                    <div class="selectset selectset-round" id="gymaddr" name ="gymaddr">
                                        <button class="selectset-toggle btn" type="button" data-value="">
                                            <span>전체</span>
                                        </button>
                                        <ul class="selectset-list" >
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="송파구">
                                                    <span>송파구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="강동구">
                                                    <span>강동구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="서초구" >
                                                    <span>서초구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="강남구">
                                                    <span>강남구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="동작구">
                                                    <span>동작구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="관악구">
                                                    <span>관악구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="영등포구">
                                                    <span>영등포구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="금천구">
                                                    <span>금천구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="양천구">
                                                    <span>양천구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="구로구">
                                                    <span>구로구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="강서구">
                                                    <span>강서구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="마포구">
                                                    <span>마포구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="용산구">
                                                    <span>용산구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="서대문구">
                                                    <span>서대문구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="중구">
                                                    <span>중구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="종로구">
                                                    <span>종로구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="은평구">
                                                    <span>은평구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="성동구">
                                                    <span>성동구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="광진구">
                                                    <span>광진구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="동대문구">
                                                    <span>동대문구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="중량구">
                                                    <span>중량구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="성북구">
                                                    <span>성북구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="강북구">
                                                    <span>강북구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button" name="gymaddr" data-value="도봉구">
                                                    <span>도봉구</span>
                                                </button>
                                            </li>
                                            <li class="selectset-item">
                                                <button class="selectset-link btn" type="button"name="gymaddr" data-value="노원구">
                                                    <span>노원구</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cardset cardset-hor" th:each="gym:${gymlist}" data-region="${gym.gymaddr}">
                            <figure class="cardset-figure">
                                <img th:src="@{/images/gym/}+${gym.gymphoto}" width="320" height="320">
                            </figure>
                            <div class="cardset-body">
                                <p class="cardset-txt">등록번호 2024061520240615</p>
                                <div class="badgeset-wrap">
                                    <div class="badgeset-group">
                                        <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">연중무휴</div>
                                    </div>
                                </div>
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular';" th:text="${gym.gymname}"></h2>
                                <div class="location" style=" display:flex; flex-wrap:wrap;">
                                    <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                                    <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';" th:text="${gym.gymaddr}"></h2>
                                </div>
                                <p class="cardset-desc" th:text="'일일권 : ' + ${gym.dayprice}"></p>
                                <p class="cardset-desc"th:text="'일주권 : ' + ${gym.weekprice}"></p>
                                <div class="btnset-wrap">
                                    <a th:href="@{/gymread(gymboardnum=${gym.gymboardnum},action=READ)}" class="btnset btnset-round" style="  background-color: #1abc9c;">상세보기</a>
                                    <!--이미 찜을 했다면-->
                                    <button th:if="${session.heartedGymIds.contains(gym.gymboardnum)}"
                                            th:id="'likeBtn_' + ${gym.gymboardnum}"
                                            class="btnset btnset-round liked"
                                            th:onclick="heartGym([[${gym.gymboardnum}]]) "
                                            style="background-color: #1abc9c;">찜</button>
                                    <!--찜을 하지 않은 상태라면-->
                                    <button th:unless="${session.heartedGymIds.contains(gym.gymboardnum)}"
                                            th:id="'likeBtn_' + ${gym.gymboardnum}" class="btnset btnset-round"
                                            th:onclick="heartGym([[${gym.gymboardnum}]])">찜</button>
                                </div>
                            </div>
                        </div>
                        <nav class="pagiset pagiset-circ pagiset-border">
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-prev"   th:if="${gymlist.number!=0}"    th:href="@{/gymlist(page=${gymlist.number-1},gymname=${gymname},gymaddr=${gymaddr},size=${gymlist.size})}">
                                    <span class="visually-hidden">이전</span>
                                </a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-next" th:if="${gymlist.number +1 !=totalPage}"  th:href="@{/gymlist(page=${Page}+1,gymname=${gymname} ,gymaddr=${gymaddr}, size=${Size})}">
                                    <span class="visually-hidden" >다음</span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- [E]campland-N22 -->
        </main>
        <script>
            function heartGym(boardNum) {
                var likeBtnId = 'likeBtn_' + boardNum;


                //alert("동작")
                $.ajax({
                    type: "GET",
                    url: "/Heart?boardNum=" + boardNum,
                    success: function(response) {
                        var likeBtn = document.getElementById(likeBtnId);


                        if (!likeBtn.classList.contains('liked')) {
                            likeBtn.style.backgroundColor = '#1abc9c';  // 스타일 추가
                            likeBtn.classList.add('liked');  // 'liked' 클래스 추가
                            alert("찜하기 완료!!");
                        } else {
                            likeBtn.style.backgroundColor = '';
                            likeBtn.classList.remove('liked');
                            alert("찜하기 취소!!");
                        }

                    },
                    error: function(error) {
                        alert("오류 발생: " + error);
                    }
                });
            }

        </script>


    </div>
    <!-- [E]campland-N2 -->
    <script src="js/gym/setting.js"></script>
    <script src="js/gym/plugin.js"></script>
    <script src="js/gym/template.js"></script>
    <script src="js/gym/common.js"></script>
    <script src="js/gym/script.js"></script>
  </body>
</html>