<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>헬스장 정보</title>
    <link rel="stylesheet" href="/css/gym/setting.css">
    <link rel="stylesheet" href="/css/gym/plugin.css">
    <link rel="stylesheet" href="/css/gym/template.css">
    <link rel="stylesheet" href="/css/gym/common.css">
    <link rel="stylesheet" href="/css/gym/style.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>
</head>
<body>

    <div layout:fragment="content">
        <main class="th-layout-main ">
            <!-- [S]campland-N8 -->
            <div class="campland-N8" data-bid="oTLxFHl9Tn">
                <div class="contents-container">
                    <img class="contents-visual img-pc" src="/images/health4.jpg" alt="서브 비주얼 PC 이미지">
                    <img class="contents-visual img-mobile" src="/images/health4.jpg" alt="서브 비주얼 모바일 이미지">
                    <div class="contents-body container-md">
                        <div class="textset textset-visual" >
                            <h2 class="textset-tit" style="font-family: 'SUITE-Regular'; color: whitesmoke">헬스장</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [E]campland-N8 -->
            <!-- [S]campland-N22 -->
            <div class="campland-N22" data-bid="tnLXfHL9xK">
                <div class="contents-inner">
                    <div class="contents-container container-md">
                        <div class="textset textset-sub">
                        </div>
                        <div class="form-wrap">
                            <div class="contents-form-group">
                                <h6 class="form-tit">카테고리</h6>
                                <div class="selectset selectset-round">
                                    <button class="selectset-toggle btn" type="button">
                                        <span>전체</span>
                                    </button>
                                    <ul class="selectset-list">
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="전체">
                                                <span>전체</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="카테고리1">
                                                <span>카테고리1</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="카테고리2">
                                                <span>카테고리2</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contents-form-group">
                                <h6 class="form-tit">지역 선택</h6>
                                <div class="selectset selectset-round">
                                    <button class="selectset-toggle btn" type="button">
                                        <span>강서구</span>
                                    </button>
                                    <ul class="selectset-list">
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="최근 6개월">
                                                <span>강남구</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="최근 3개월">
                                                <span>동작구</span>
                                            </button>
                                        </li>
                                        <li class="selectset-item">
                                            <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                                <span>서초구</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cardset cardset-hor">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="/images/health4.jpg" alt="카드 이미지">
                            </figure>
                            <div class="cardset-body">
                                <p class="cardset-txt">등록번호 2024061520240615</p>
                                <div class="badgeset-wrap">
                                    <div class="badgeset-group">
                                        <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">연중무휴</div>
                                    </div>
                                </div>
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular';">헬스장 1</h2>
                                <div class="location" style=" display:flex; flex-wrap:wrap;">
                                    <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                                    <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">서울특별시 xxxx xxxxx x</h2>
                                </div>
                                <p class="cardset-desc">20,000</p>
                                <div class="btnset-wrap">
                                    <a href="/gymread" class="btnset btnset-round" style="  background-color: #1abc9c;">상세보기</a>
                                    <a href="javascript:void(0);" class="btnset btnset-round disabled">찜</a>
                                </div>
                            </div>
                        </div>
                        <div class="cardset cardset-hor">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="/images/health4.jpg" alt="카드 이미지">
                            </figure>
                            <div class="cardset-body">
                                <p class="cardset-txt">등록번호 2024061520240615</p>
                                <div class="badgeset-wrap">
                                    <div class="badgeset-group">

                                    </div>
                                </div>
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular';">헬스장 2</h2>
                                <div class="location" style=" display:flex; flex-wrap:wrap;">
                                    <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                                    <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">서울특별시 xxxx xxxxx x</h2>
                                </div>
                                <p class="cardset-desc">20,000</p>
                                <div class="btnset-wrap">
                                    <a href="/gymread" class="btnset btnset-round" style="  background-color: #1abc9c;">상세보기</a>
                                    <a href="javascript:void(0);" class="btnset btnset-round disabled">찜</a>
                                </div>

                            </div>
                        </div>
                        <div class="cardset cardset-hor">
                            <figure class="cardset-figure">
                                <img class="cardset-img" src="/images/health4.jpg" alt="카드 이미지">
                            </figure>
                            <div class="cardset-body">
                                <p class="cardset-txt">등록번호 2024061520240615</p>
                                <div class="badgeset-wrap">
                                    <div class="badgeset-group">
                                        <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">연중무휴</div>
                                    </div>
                                </div>
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular';">헬스장3</h2>
                                <div class="location" style=" display:flex; flex-wrap:wrap;">
                                    <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                                    <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">서울특별시 xxxx xxxxx x</h2>
                                </div>
                                <p class="cardset-desc">20,000</p>
                                <div class="btnset-wrap">
                                    <a href="/gymread" class="btnset btnset-round" style="  background-color: #1abc9c;">상세보기</a>
                                    <a href="javascript:void(0);" class="btnset btnset-round disabled">찜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [E]campland-N22 -->
        </main>

    <!-- [E]campland-N2 -->
    <script src="js/gym/setting.js"></script>
    <script src="js/gym/plugin.js"></script>
    <script src="js/gym/template.js"></script>
    <script src="js/gym/common.js"></script>
    <script src="js/gym/script.js"></script>

 </body>
</html>