<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Requests</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div th:fragment="admin">
    <h1>Admin Requests</h1>
    <table>
        <tr>
            <th>Request</th>
        </tr>
        <tr th:each="request : ${requests}">
            <td th:text="${request.request}"></td>
        </tr>
    </table>
</div>
</body>
</html>
