<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RequestToTrainer - View Only</title>
    <link rel="stylesheet" type="text/css" href="/css/request/requestview.css">
    <script src="/js/openPopUp/openPopup.js"></script>
</head>
<body>
<div class="file-upload-container">
    <h2>요청 상세 내용 보기</h2>
    <form>
        <div>
            <label>아이디:</label>
            <span th:text="${requestDTO.loginId}"></span>
        </div>
        <div>
            <label for="title">제목:</label>
            <input id="title" name="title" th:value="${requestDTO.title}" th:readonly="true">
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="5" th:text="${requestDTO.content}" th:readonly="true"></textarea>
        </div>
        <div id="fileInputs">
            <label>첨부 파일:</label>
            <ul>
                <li th:each="file : ${fileDTOList}">
                    <a th:href="@{/pdfFileRead(filepath=${file.filepath})}" th:text="${file.fileOriginalName}" onclick="openPopup(event)"></a>

                </li>
            </ul>
        </div>
    </form>
</div>

</body>
</html>