<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:fragment="main">
    <div class="campland-N12" data-bid="AiLYGuhERd">
        <div class="contents-container container-md">
            <div class="contents-inner">
                <div class="textset textset-sub">
                    <h2 class="textset-tit">PT 예약중</h2>
                </div>
                <div class="tableset tableset-fract">
                    <table class="tableset-table table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>트레이너 이름</th>
                        <th>날짜,시간</th>
                    </tr>
                    </thead>
                    <tbody id="ptRequestList">
                    <tr th:each="ptDayPass : ${ptDayPasses}"
                        th:if="${ptDayPass.user == session.member.name && ptDayPass.status != 'accept' && ptDayPass.status != 'reject'}">
                        <td class="tableset-mobile" th:text="${ptDayPass.requestId}">1</td> <!-- 번호 -->
                        <td th:text="${ptDayPass.trainer}">트레이너 name</td> <!-- 내가 예약한 트레이너 이름 -->
                        <td th:text="${ptDayPass.startTime + ' ~ ' + ptDayPass.endTime}">startTime,endTime</td>
                        <!-- PT 시간 -->
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="contents-container container-md">
                <div class="textset textset-sub">
                    <h2 class="textset-tit">PT 일정</h2>
                </div>
                <div class="tableset tableset-fract">
                    <table class="tableset-table table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>날짜,시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ptDayPass : ${ptDayPasses}"
                        th:if="${ptDayPass.user == session.member.name && ptDayPass.status == 'accept'}">
                        <td class="tableset-mobile" th:text="${ptDayPass.requestId}">1</td> <!-- 번호 -->
                        <td th:text="${ptDayPass.trainer}">트레이너 name</td> <!-- 내가 예약한 트레이너 이름 -->
                        <td th:text="${ptDayPass.startTime + ' ~ ' + ptDayPass.endTime}">startTime,endTime</td>
                        <!-- PT 시간 -->
                    </tr>
                    <tr th:each="ptDayPass : ${ptDayPasses}"
                        th:if="${ptDayPass.user == session.member.name && ptDayPass.status == 'reject'}">
                        <td class="tableset-mobile" th:text="${ptDayPass.requestId}">1</td> <!-- 번호 -->
                        <td th:text="${ptDayPass.trainer}">트레이너 name</td> <!-- 내가 예약한 트레이너 이름 -->
                        <td th:text="${ptDayPass.startTime + ' ~ ' + ptDayPass.endTime}">startTime,endTime</td>
                        <!-- PT 시간 -->
                        <td>거절된 PT입니다. ㅠㅠ</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>