<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로필</title>
</head>
<body>
<div th:fragment="main">
    <h1>프로필 정보</h1>
    <div class="box">
        <div class="profile-info-container">
            <!-- 프로필 이미지 -->
            <img src="/images/1.png" alt="프로필 사진">
            <!-- 프로필 정보 텍스트 -->
            <div class="profile-info">
                <p th:text="'이름 : ' + ${session.member.name}"></p>
                <p>나이: 5세</p>
                <p>회원 유형 : 일반회원
                    <button onclick="window.open('/RequestToTrainer?action=WRITE&id=1', '_blank', 'width=800,height=800,resizable=yes');">트레이너 요청하기</button>
                </p>
<!--                <p th:if="${session.member.userType == 1}">회원 유형 : 일반회원</p>-->
<!--                <p th:if="${session.member.userType == 2}">회원 유형 : 트레이너</p>-->
                <!-- 원하는 프로필 정보 추가 -->
                <button onclick="openEditPopup()">수정하기</button>
            </div>

        </div>


    </div>




</div>

</body>
</html>
