<!DOCTYPE html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>헬스장 - HTML5 Resoponsive onepage e-commerce template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="images/favicon.png" >
    <link rel="stylesheet" href="css/style.css" >
    <style>
        .content-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 130vh;
        /*   min-height: 120vh;  */
        }
        .map-container {
            flex: 1;
        }
        footer {
            background: #eee;
            padding: 10px;
            text-align: center;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <script>
        function heartGym(boardNum) {
            alert("동작")
            $.ajax({
                type: "GET",
                url: "/Heart?boardNum=" + boardNum,
                success: function(response) {
                    // 성공적으로 처리된 후의 동작 (예: 알림 메시지 표시)
                    alert("찜하기 완료!!");
                    // 추가적으로 필요한 동작 수행 (예: 화면 갱신)
                },
                error: function(error) {
                    // 오류 처리
                    alert("오류 발생: " + error);
                }
            });
        }
    </script>
    <![endif]-->

</head>
<body>

    <div id="header">
        <th:block th:replace="top/header :: header">
        </th:block>
    </div>
    <div id="top">
        <th:block th:replace="top/top :: top">
        </th:block>
    </div>
    <div class="content-wrapper">
    <div id="content" class="map-container">
        <th:block layout:fragment="content2">
        </th:block>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="center">daily<i class="fa fa-love"></i><a href="https://bootstrapthemes.co">exercise</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    </div>
</body>
</html>