<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>시설소개 | 프로젝트1610</title>
    <link rel="stylesheet" href="/css/gym/setting.css">
    <link rel="stylesheet" href="/css/gym/plugin.css">
    <link rel="stylesheet" href="/css/gym/template.css">
    <link rel="stylesheet" href="/css/gym/common.css">
    <link rel="stylesheet" href="/css/gym/style.css">
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <main class="th-layout-main ">
        <!-- [S]campland-N8 -->
        <div class="campland-N8" data-bid="YdLxFmd3O9">
            <div class="contents-container">
                <img class="contents-visual img-pc" src="/images/health4.jpg" alt="서브 비주얼 PC 이미지">
                <img class="contents-visual img-mobile" src="/images/health4.jpg" alt="서브 비주얼 모바일 이미지">
                <div class="contents-body container-md">
                    <div class="textset textset-visual">
                        <h2 class="textset-tit" style="font-family: 'Pretendard-Regular'; color: whitesmoke">트레이너</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- [E]campland-N8 -->
        <!-- [S]campland-N10 -->
        <div class="campland-N10" data-bid="giLXFmD3rk">
            <div class="contents-inner">
                <div class="contents-container container-md">
                    <div class="textset textset-sub" >
                        <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">트레이너 정보</h2>
                    </div>
                    <hr/>
                    <div class="textset textset-sub" style="margin-top: 50px; display:flex; flex-wrap:wrap;">
                        <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">트레이너 1</h2>
                        <h2 class="cardset-tit" style="font-family: 'SUITE-Regular'; color: gray; font-size: 13px; margin-left: 8px;">서울 Mygym</h2>
                    </div>
                    <div class="location" style=" display:flex; flex-wrap:wrap;">
                        <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                        <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';">서울특별시 xxxx xxxxx x</h2>
                    </div>
                    <div class="contents-body">
                        <div class="contents-left">
                            <div class="imageset">
                                <img class="imageset-img" src="/images/trainer3.jpg" alt="캠핑장 이미지">
                            </div>
                            <div class="imageset">
                                <img class="imageset-img" src="/images/trainer4.jpg" alt="캠핑장 이미지">
                            </div>
                        </div>
                        <div class="contents-right">
                            <div class="contents-group">
                                <h5 class="contents-subtit" style="font-family: 'SUITE-Regular';">이용금액</h5>
                                <ul class="contents-list">
                                    <li class="contents-item">
                                        <span class="contents-item-name">일일권</span>
                                        <span class="contents-item-price">25,000원</span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">하루헬스 일일권</span>
                                        <span class="contents-item-price">20,000원</span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">회원가</span>
                                        <span class="contents-item-price">17,000원</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="contents-group">
                                <h5 class="contents-subtit"  style="font-family: 'SUITE-Regular';">트레이너 경력</h5>
                                <ul class="contents-list">
                                    <li class="contents-item">
                                        <span class="contents-item-name">자격증 :</span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">------------ </span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">--------------- </span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">- </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="contents-group">
                                <h5 class="contents-subtit"  style="font-family: 'SUITE-Regular';">기타</h5>
                                <ul class="contents-list">
                                    <li class="contents-item">
                                        <span class="contents-item-name">운동복</span>
                                        <span class="contents-item-price">월-10,000원</span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">개인락커</span>
                                        <span class="contents-item-price">월-10,000원</span>
                                    </li>
                                    <li class="contents-item">
                                        <span class="contents-item-name">- </span>
                                        <span class="contents-item-price"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="contents-button">
                        <a href="javascript:void(0);" class="btnset btnset-round" style="  background-color: #1abc9c;">등록하기</a>
                        <a href="javascript:void(0);" class="btnset btnset-round" style="  background-color: #1abc9c;">대화하기 </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>
<!-- [E]campland-N2 -->
<script src="js/gym/setting.js"></script>
<script src="js/gym/plugin.js"></script>
<script src="js/gym/template.js"></script>
<script src="js/gym/common.js"></script>
<script src="js/gym/script.js"></script>

</body>
</html>