<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>헬스장 정보</title>
    <link rel="stylesheet" href="/css/gym/setting.css">
    <link rel="stylesheet" href="/css/gym/plugin.css">
    <link rel="stylesheet" href="/css/gym/template.css">
    <link rel="stylesheet" href="/css/gym/common.css">
    <link rel="stylesheet" href="/css/gym/style.css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div layout:fragment="content">
        <!-- [E]campland-N1 -->
        <main class="th-layout-main ">
            <!-- [S]campland-N25 -->
            <div class="campland-N25" data-bid="AZLXK31vQ9" id="">
                <div class="contents-inner">
                    <div class="contents-container">
                        <div class="textset textset-sub textset-center">
                            <h2 class="textset-tit" style="font-family: 'SUITE-Regular';">트레이너 등록</h2>
                        </div>
                        <form  class="register-form"  action="/trainerregister"   method="POST" name="myform">
                            <ul class="contents-list">
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco" style="font-family: 'SUITE-Regular';">
                                        <span></span>이름
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <input type="text" id="Name" name="Name" class="inputset-input form-control" aria-label="내용" placeholder="이름를 입력해주세요.">
                                        </div>
                                    </div>
                                </li>
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                                        <span></span>소속 헬스장(GYM)
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <input type="text" id="GymName" name="GymName" class="inputset-input form-control" aria-label="내용" placeholder="헬스장 이름을 입력해주세요">
                                        </div>
                                    </div>
                                </li>
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                                        <span></span> 헬스장 주소
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <div class=" box2" style="display: flex; flex-wrap: wrap;">
                                                <input type="text" id="sample4_postcode" name="Addr"  class="inputset-input form-control" placeholder="우편번호">
                                                <input type="button" name="" onclick="sample4_execDaumPostcode()"  class="btnset btnset-round btnset-line btnset-black" value="우편번호 찾기"><br>
                                            </div>
                                            <input type="text" id="sample4_address" name="Addr" class="inputset-input form-control"placeholder="주소"
                                        </div>
                                    </div>
                                </li>
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                                        <span></span>일일권 가격
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <input type="text"  id="ticketprice" name="ticketprice" class="inputset-input form-control" aria-label="일일권" placeholder=" '원'을 제외하고 입력해주세요 ex)20,000">
                                        </div>
                                    </div>
                                </li>
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                                        <span></span>경력 및 자격증
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <textarea class="inputset-textarea" id="Career" name="Career" aria-label="경력" ></textarea>
                                        </div>
                                    </div>
                                </li>
                                <li class="contents-item">
                                    <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                                        <span></span>기타
                                    </h6>
                                    <div class="form-wrap">
                                        <div class="inputset inputset-round">
                                            <textarea class="inputset-textarea" id="info" name="info" aria-label="기타" ></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="contents-confirm">
                                <a href="/trainer/trainerlist" class="btnset btnset-round btnset-line btnset-black">돌아가기</a>
                                <button type="submit" class="btnset btnset-round" value="등록">등록완료</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [E]campland-N25 -->
        </main>

    </div>
    <!-- [E]campland-N2 -->
    <script src="js/gym/map.js"></script>
</body>
</html>