<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>헬스장 정보</title>
    <link rel="stylesheet" href="css/gym/setting.css">
    <link rel="stylesheet" href="css/gym/plugin.css">
    <link rel="stylesheet" href="css/gym/template.css">
    <link rel="stylesheet" href="css/gym/common.css">
    <link rel="stylesheet" href="css/gym/style.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e4fcb5113c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        //타임리프에서 사용하는 변수를 자바스크립트에서 사용하는 경우
        //jQuery를 이용해서 select에서 선택을 하면 컨트롤러가 요청되도록 처리
        let category=/*[[${category}]]*/; //컨트롤러를 요청하고 response 될때 공유해준 값을 타임리프를 실행해서 받아옴
        /*alert(category);*/
        $(document).ready(function(){
            //alert("컨트롤러가 공유한 데이터=>"+category);
            //console.log("컨트롤러가 공유한 데이터=>"+category);
            //select에서 선택된 option에 selected속성을 추가
            $("#category").val(category).attr("selected","selected");
            $("#category").change(function(){
                //select가 변경되는 change이벤트가 발생하면 컨트롤러를 호출함
                //alert($(this).val())
                location.href="/erp/board/list?category="+$(this).val()
            })
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <main class="th-layout-main ">
        <!-- [S]campland-N8 -->
        <div class="campland-N8" data-bid="oTLxFHl9Tn">
            <div class="contents-container">
                <img class="contents-visual img-pc" src="/images/health2.jpg" alt="서브 비주얼 PC 이미지">
                <img class="contents-visual img-mobile" src="/images/health2.jpg" alt="서브 비주얼 모바일 이미지">
                <div class="contents-body container-md">
                    <div class="textset textset-visual" >
                        <h2 class="textset-tit" style="font-family: 'SUITE-Regular'; color: whitesmoke" >트레이너</h2>
                    </div>
                </div>
            </div>
        </div>
        <li class="contents-item">
            <h6 class="form-tit form-tit-deco"  style="font-family: 'SUITE-Regular';">
                <span></span>트레이너 검색
            </h6>
            <form th:action="@{/trainerlist}" method="get">
                <div class="form-wrap">
                    <div class="inputset inputset-round">
                        <input type="text" id="trainerName" name="trainerName" class="inputset-input form-control" aria-label="내용" placeholder="검색">
                    </div>
                </div>
            </form>
        </li>
        <!-- [E]campland-N8 -->
        <!-- [S]campland-N22 -->
        <div class="campland-N22" data-bid="tnLXfHL9xK">
            <div class="contents-inner">
                <div class="contents-container container-md">
                    <div class="textset textset-sub">
                        <div class="register" style="float:right ">
                            <div class="btnset-wrap">
                                <a href="/trainerregister" class="btnset btnset-round" style="  background-color: #1abc9c;">등록하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="contents-form-group">
                            <h6 class="form-tit">카테고리</h6>
                            <div class="selectset selectset-round">
                                <button class="selectset-toggle btn" type="button">
                                    <span>전체</span>
                                </button>
                                <ul class="selectset-list">
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="전체">
                                            <span>전체</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="카테고리1">
                                            <span>카테고리1</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="카테고리2">
                                            <span>카테고리2</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="contents-form-group">
                            <h6 class="form-tit">지역 선택</h6>
                            <div class="selectset selectset-round">
                                <button class="selectset-toggle btn" type="button">
                                    <span>강서구</span>
                                </button>
                                <ul class="selectset-list">
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 6개월">
                                            <span>송파구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 3개월">
                                            <span>강동구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>서초구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>강남구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>동작구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>관악구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>영등포구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>금천구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>양천구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>구로구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>강서구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>마포구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>용산구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>서대문구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>중구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>종로구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>은평구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>성동구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>광진구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>동대문구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>중량구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>성북구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>강북구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>도봉구</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="최근 1개월">
                                            <span>노원구</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cardset cardset-hor" th:each="trainer:${trainerlist}">
                        <figure class="cardset-figure">
                            <img th:src="@{/images/trainer/}+${trainer.imagename}" width="300" height="300">
                        </figure>
                        <div class="cardset-body">
                            <p class="cardset-txt" th:text="${trainer.writedate}">트레이너번호 2024061520240615</p>
                            <div class="badgeset-wrap">
                                <div class="badgeset-group">
                                    <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">트레이너 인증</div>
                                </div>
                            </div>
                            <div class="location" style=" display:flex; flex-wrap:wrap;">
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular';" th:text="${trainer.name}"></h2>
                                <h2 class="cardset-tit" style="font-family: 'SUITE-Regular'; color: gray; font-size: 13px; margin-left: 5px;" th:text="${trainer.GymName}"></h2>
                            </div>
                            <div class="location" style=" display:flex; flex-wrap:wrap;">
                                <i class="fa-solid fa-location-dot" style="margin-top: 30px; margin-right: 10px;"></i>
                                <h2 class="textset-tit" style="font-family: 'Pretendard-Regular';" th:text="${trainer.addr}"></h2>
                            </div>
                            <div class="pay" style=" display:flex; flex-wrap:wrap;">
                                <i class="fa-solid fa-coins" style="margin-top: 10px; margin-right: 10px;"></i>
                                <p class="cardset-desc" style="font-family: 'SUITE-Regular'; font-size: 20px;" th:text="${trainer.ticketprice}"></p>
                            </div>
                            <div class="btnset-wrap">
                                <a th:href="@{/trainerread(trainerId=${trainer.trainerId},action=READ)}" style=" background-color: #1abc9c;">상세보기</a>
                                <a href="javascript:void(0);" class="btnset btnset-round disabled">찜</a>
                            </div>
                        </div>
                    </div>
                    <nav class="pagiset pagiset-circ pagiset-border">
                        <div class="pagiset-ctrl">
                            <a class="pagiset-link pagiset-prev"  th:if="${trainerPage.number!=0}" th:href="@{/trainerlist(page=${trainerPage.number - 1},trainerName=${trainerName}, size=${trainerPage.size})}">
                                <span class="visually-hidden">이전</span>
                            </a>
                        </div>
                        <div class="pagiset-ctrl">
                            <a class="pagiset-link pagiset-next" th:if="${trainerPage.number +1 !=totalPage}" th:href="@{/trainerlist(page=${trainerPage.number + 1},trainerName=${trainerName},size=${trainerPage.size})}">
                                <span class="visually-hidden" >다음</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- [E]campland-N22 -->
    </main>

    <!-- [E]campland-N2 -->
    <script src="js/gym/setting.js"></script>
    <script src="js/gym/plugin.js"></script>
    <script src="js/gym/template.js"></script>
    <script src="js/gym/common.js"></script>
    <script src="js/gym/script.js"></script>


</body>
</html>