@charset "utf-8";
@font-face {
 font-family: 'Pretendard-Regular';
 src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}
/* campland-N22 [tnLXfHL9xK] */
.campland-N22 { overflow: hidden; }
.campland-N22 .contents-inner { padding: 8rem 1.6rem; }
.campland-N22 .contents-form-group { width: 50%; }
.campland-N22 .contents-form-group+.contents-form-group { margin-left: 2rem; }
.campland-N22 .cardset { padding: 4rem 0; }
.campland-N22 .cardset+.cardset { border-top: 1px solid var(--border-color); gap: 4rem; }
.campland-N22 .cardset.cardset-hor .cardset-figure { width: 100%; max-width: 40rem; height: 24rem; }
.campland-N22 .badgeset-wrap { flex-direction: column; }
.campland-N22 .cardset.cardset-xl .cardset-tit { margin-top: 0.4rem; font-size: var(--fs-h4); line-height: var(--lh-h4); }
.campland-N22 .btnset-wrap { margin-top: 2.5rem; }
@media (max-width: 992px) {
 .campland-N22 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N22 .form-wrap { flex-direction: column; margin-bottom: 2rem; }
 .campland-N22 .contents-form-group { width: 100%; }
 .campland-N22 .contents-form-group+.contents-form-group { margin-left: 0; margin-top: 1.6rem; }
 .campland-N22 .form-tit { margin-bottom: 0.8rem; font-size: var(--fs-p1); }
 .campland-N22 .cardset { padding: 2rem 0; }
 .campland-N22 .cardset.cardset-hor .cardset-body { width: 100%; margin-left: 0; }
}

/* campland-N10 [giLXFmD3rk] */
.campland-N10 { overflow: hidden; }
.campland-N10 .contents-inner { padding: 8rem 1.6rem; }
.campland-N10 .contents-body { display: flex; justify-content: space-between; margin: 4rem 0 8rem 0; }
.campland-N10 .contents-left { position: relative; width: 50%; min-height: 56.3rem; }
.campland-N10 .contents-left .imageset { position: absolute; top: 0; left: 0; width: calc(50% + 20rem); height: 46rem; }
.campland-N10 .contents-left .imageset+.imageset { top: auto; left: auto; right: 0; bottom: 0; width: calc(50% + 10rem); height: 42rem; }
.campland-N10 .contents-right { width: calc(50% - 7.2rem); }
.campland-N10 .contents-group+.contents-group { margin-top: 2.8rem; padding-top: 2.8rem; border-top: 1px solid var(--line-color1); }
.campland-N10 .contents-subtit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 500; }
.campland-N10 .contents-list { margin-top: 1.6rem; }
.campland-N10 .contents-item { display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: var(--fs-p2); line-height: var(--lh-p2); }
.campland-N10 .contents-item span { display: inline-block; }
.campland-N10 .contents-button { text-align: center; }
@media (max-width: 992px) {
 .campland-N10 .contents-inner { padding: 3rem 1.6rem; }
 .campland-N10 .contents-body { flex-direction: column; margin: 2rem 0 4rem 0; }
 .campland-N10 .contents-left { width: 100%; min-height: 30rem; }
 .campland-N10 .contents-left .imageset { width: calc(100% - 8rem); height: 22.6rem; }
 .campland-N10 .contents-left .imageset+.imageset { width: calc(100% - 8.8rem); height: 24rem; }
 .campland-N10 .contents-right { width: 100%; margin-top: 4rem; }
}

/* campland-N11 [FNLxFmd3vh] */
.campland-N11 { overflow: hidden; }
.campland-N11 .contents-inner { margin: 8rem 0; padding: 10rem 1.6rem; background-color: var(--highlight-bg1); }
.campland-N11 .contents-body { display: flex; justify-content: space-between; margin: 4rem 0 8rem 0; }
.campland-N11 .contents-left { width: calc(50% - 7.2rem); }
.campland-N11 .contents-group+.contents-group { margin-top: 2.8rem; padding-top: 2.8rem; border-top: 1px solid var(--line-color1); }
.campland-N11 .contents-subtit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 500; }
.campland-N11 .contents-list { margin-top: 1.6rem; }
.campland-N11 .contents-item { display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-size: var(--fs-p2); line-height: var(--lh-p2); }
.campland-N11 .contents-item span { display: inline-block; }
.campland-N11 .contents-right { position: relative; width: 50%; min-height: 56.3rem; }
.campland-N11 .contents-right .imageset { position: absolute; right: 0; top: 0; width: calc(50% + 20rem); height: 46rem; }
.campland-N11 .contents-right .imageset+.imageset { top: auto; left: 0; bottom: 0; width: calc(50% + 10rem); height: 42rem; }
.campland-N11 .contents-button { text-align: center; }
@media (max-width: 992px) {
 .campland-N11 .contents-inner { margin: 3rem 0; padding: 4rem 1.6rem; }
 .campland-N11 .contents-body { flex-direction: column-reverse; }
 .campland-N11 .contents-left { width: 100%; margin-top: 4rem; }
 .campland-N11 .contents-right { width: 100%; min-height: 30rem; }
 .campland-N11 .contents-right .imageset { width: calc(100% - 8rem); height: 22.6rem; }
 .campland-N11 .contents-right .imageset+.imageset { width: calc(100% - 8.8rem); height: 24rem; }
}
