<!doctype html>

<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>헬스장 - HTML5 Resoponsive onepage e-commerce template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.png">

        <link rel="stylesheet" href="/css/paging/page.css">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ada68dcd5ac8f9d9ef7b64f6f245ef56&libraries=services,clusterer,drawing "></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="preloader-area">
            	<div class="preloader-box">
            		<div class="preloader"></div>
            	</div>
            </div>
        </div>



		<div id="header" th:replace="~{top/header :: header}"></div>
		<div id="top" th:insert="~{top/top :: top}"></div>


        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form><!-- end /. form -->
                    </div>
                </div><!-- end of/. row -->
            </div><!-- end of /.container -->
        </section><!-- end of /.news letter section -->
        <h1 style="text-align: center;">인기 헬스장</h1>
        <section class="slider-section">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators slider-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3" style="background:white">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[0].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[0].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[0].gymname + ' ❤️: ' + session.top12GymsByHeartCount[0].heartCount}"></h5>
                            </div>

                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[1].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[1].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[1].gymname + ' ❤️: ' + session.top12GymsByHeartCount[1].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[2].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[2].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[2].gymname + ' ❤️: ' + session.top12GymsByHeartCount[2].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[3].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[3].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[3].gymname + ' ❤️: ' + session.top12GymsByHeartCount[3].heartCount}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[4].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[4].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[4].gymname + ' ❤️: ' + session.top12GymsByHeartCount[4].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[5].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[5].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[5].gymname + ' ❤️: ' + session.top12GymsByHeartCount[5].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[6].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[6].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[6].gymname + ' ❤️: ' + session.top12GymsByHeartCount[6].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[7].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[7].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[7].gymname + ' ❤️: ' + session.top12GymsByHeartCount[7].heartCount}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[8].gymboardnum},action=READ)}">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[8].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[8].gymname + ' ❤️: ' + session.top12GymsByHeartCount[8].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[9].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[9].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[9].gymname + ' ❤️: ' + session.top12GymsByHeartCount[9].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[10].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[10].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[10].gymname + ' ❤️: ' + session.top12GymsByHeartCount[10].heartCount}"></h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/gymread(gymboardnum=${session.top12GymsByHeartCount[11].gymboardnum},action=READ)}" target="_blank">
                                    <img th:src="@{/images/gym/}+${session.top12GymsByHeartCount[11].gymphoto}" alt="">
                                </a>
                                <h5 th:text="${session.top12GymsByHeartCount[11].gymname + ' ❤️: ' + session.top12GymsByHeartCount[11].heartCount}"></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <hr>

        <section class="service-section">
            <div id="map" class="mainpagemap" ></div>
            <div id="board">
                <div class="main-content">
                    <table id="AdminTable" style="width: 600px">
                        <thead>
                        <tr>
                            <th>작성자 아이디</th>
                            <th>제목</th>
                            <th>작성날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board, iterStat : ${session.boardDTOList}" th:if="${iterStat.index < 12}">
                            <td th:text="${board.id}"></td>
                            <td>
                                <a th:href="@{/board/read(board_no=${board.board_no},action=READ)}">
                                    <span th:text="${board.title}"></span>
                                </a>
                            </td>
                            <td th:text="${#dates.format(board.write_date, 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <script>

                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
              mapOption = {
                  center: new window.kakao.maps.LatLng(37.579516, 126.976998), // 지도의 중심좌표 경복궁시작37.579516, 126.976998
                  level: 3 // 지도의 확대 레벨 37.5307859780919, 126.846767853226
              };
             var map = new kakao.maps.Map(mapContainer, mapOption);

              // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
              var mapTypeControl = new kakao.maps.MapTypeControl();
              // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
              map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

              // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
              var zoomControl = new kakao.maps.ZoomControl();
              map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


             let overlays = new Array();
             var markers = [];
             function getCurrentLocation() {
                 return new Promise((resolve, reject) => {
                     if (navigator.geolocation) {
                         navigator.geolocation.getCurrentPosition(position => {
                             resolve({
                                 lat: position.coords.latitude,
                                 lon: position.coords.longitude
                             });
                         }, reject);
                     } else {
                         reject(new Error('Geolocation not supported'));
                     }
                 });
             }
                async  function initMap(){
                   try{
                          const position = await getCurrentLocation();
                          var locPosition = new kakao.maps.LatLng(position.lat, position.lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                          // 마커와 인포윈도우를 표시합니다
                           // 마커 이미지의 이미지 주소입니다

                      var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                       // 마커 이미지의 이미지 크기 입니다
                      var imageSize = new kakao.maps.Size(24, 35);

                      // 마커 이미지를 생성합니다
                      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                      // 마커를 생성합니다
                      var marker = new kakao.maps.Marker({
                          map: map,
                          position: locPosition,
                          image : markerImage // 마커 이미지
                      });

                      // 지도 중심좌표를 접속위치로 변경합니다
                       map.setCenter(locPosition);


                   }catch (error) {
                     console.error('Error getting current location:', error);

                    }finally{
                     mapmarkerset();
                    }
               }

              function mapmarkerset(){
                  //x,y 좌표를 전송
                  var geocoder1 = new kakao.maps.services.Geocoder(),
                   tempx = map.getCenter().toCoords().getX(),
                   tempy = map.getCenter().toCoords().getY();

                  geocoder1.transCoord(tempx, tempy, transCoordCB, {
                        input_coord: kakao.maps.services.Coords.WCONGNAMUL, // 변환을 위해 입력한 좌표계 입니다
                        output_coord: kakao.maps.services.Coords.WTM // 변환 결과로 받을 좌표계 입니다
                  });


                  function transCoordCB(result, status) {
                   var x = result[0].x;
                   var y = result[0].y;
                     // 주소-좌표 변환 객체를 생성합니다
                  var geocoder = new kakao.maps.services.Geocoder();
                  var markers = [];

                  // 주소로 좌표를 검색합니다
                    $.ajax({
                      url:"/mapMarker",
                      type:"get",
                      data: {"xvalue":x,"yvalue":y},
                      dataType:"json",
                      success:function(markerList){
                          let listlength = markerList.length;
                          for(let i=0;i<listlength;i++){
                              geocoder.addressSearch(markerList[i].gymaddr+'', function(result, status) {

                                  // 정상적으로 검색이 완료됐으면
                                   if (status === kakao.maps.services.Status.OK) {

                                      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                       var imageSrc = 'images/gymicon.png', // 마커이미지의 주소입니다
                                           imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                                           imageOption = {offset: new kakao.maps.Point(32, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                                       var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                                           markerPosition = coords;

                                       // 결과값으로 받은 위치를 마커로 표시합니다
                                          var marker = new kakao.maps.Marker({
                                              // 마커이미지 설정
                                              position: coords,
                                              image: markerImage
                                          });
                                       marker.setMap(map);
                                       var content1 = '<div class="customoverlay">' +
                                           '    <span class="title">'+markerList[i].dailyprice.toLocaleString()+'원</span>' +
                                           '</div>';
                                       // 커스텀 오버레이를 생성합니다
                                       var customOverlay = new kakao.maps.CustomOverlay({
                                           map: map,
                                           position: coords,
                                           content: content1,
                                           yAnchor: 1
                                       });

                                          markers[i] =marker;
                                          // 커스텀 오버레이에 표시할 컨텐츠 입니다
                                          // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
                                          // 별도의 이벤트 메소드를 제공하지 않습니다
                                          var content = '<div class="wrap">' +
                                                      '    <div class="info">' +
                                                      '        <div class="title">' +
                                                                   markerList[i].gymname+
                                                      '            <div class="close" onclick="closeOverlay('+i+')" title="닫기"></div>' +
                                                      '        </div>' +
                                                      '        <div class="body">' +
                                                      '            <div class="img">' +
                                                      '                <img src="/images/health2.jpg" width="73" height="70">' +
                                                      '           </div>' +
                                                      '            <div class="desc">' +
                                                      '                <div class="ellipsis">'+ markerList[i].gymaddr+'</div>' +
                                                      '                <div class="ellipsis">'+markerList[i].dailyprice.toLocaleString()+'원</div>' +
                                                      '                <div class="jibun ellipsis">(우) '+markerList[i].addrnum+'</div>' +
                                                      '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">상세페이지</a></div>' +
                                                      '            </div>' +
                                                      '        </div>' +
                                                      '    </div>' +
                                                      '</div>';

                                          // 마커 위에 커스텀오버레이를 표시합니다
                                          // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                                          var overlay = new kakao.maps.CustomOverlay({
                                              content: content,
                                              position: marker.getPosition()
                                          });
                                          overlays[i] = overlay;
                                          // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
                                          kakao.maps.event.addListener(marker, 'click', function() {
                                              closeAllOverlays();
                                              overlay.setContent(content);
                                              overlay.setMap(map);
                                          });
                                  }
                              });
                          }//for문 완료
                      }//success완료
                    })//ajax완료
                  }
              }
                     // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
                     function closeOverlay(i) {
                              overlays[i].setMap(null);
                  }
                function closeAllOverlays() {
                    for (var i = 0; i < overlays.length; i++) {
                        if (overlays[i]) { // overlays[i]가 유효한지 확인
                            overlays[i].setMap(null);
                        }
                    }
                }
                 initMap();
            </script>



        </section>
        <hr>
        <section class="slider-section">

            <div class="contents-group" style="display:flex">

                <a href="javascript:void(0);" class="cardset" th:each="list:${session.tubelist}">
                    <figure class="cardset-figure" style="padding:20px">
                        <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/}+${list.tubelink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </figure>
                </a>

            </div>
        </section>




        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="center">Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
</p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
