<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>강의</title>
    <link rel="stylesheet" href="../css/tube/setting.css">
    <link rel="stylesheet" href="../css/tube/plugin.css">
    <link rel="stylesheet" href="../css/tube/template.css">
    <link rel="stylesheet" href="../css/tube/common.css">
    <link rel="stylesheet" href="../css/tube/style.css">
</head>

<body>
    <div layout:fragment="content">
        <main class="th-layout-main ">
            <!-- [S]basic-N45 -->
            <div class="basic-N45" data-bid="OKLXlIY0q1">
                <div class="contents-container container-md">
                    <img class="contents-visual img-pc" src="/images/health.jpg" alt="PC 서브 비주얼 이미지">
                    <img class="contents-visual img-mobile" src="/images/hralth.jpg" alt="모바일 서브 비주얼 이미지">
                    <div class="contents-body">
                        <div class="textset textset-visual">
                            <h2 class="textset-tit">Brand Story</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [E]basic-N45 -->
            <!-- [S]basic-N54 -->
            <div class="basic-N54" data-bid="rilXliy0rt" id="">
                <div class="contents-inner">
                    <div class="contents-container container-md">
                        <div class="tabset tabset-brick">
                            <div class="selectset selectset-round selectset-lg">
                                <button class="selectset-toggle btn" type="button">
                                    <span>전체</span>
                                </button>
                                <ul class="selectset-list">
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="전체">
                                            <span>전체</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>가슴</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>등</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>어깨</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>하체</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>복근</span>
                                        </button>
                                    </li>
                                    <li class="selectset-item">
                                        <button class="selectset-link btn" type="button" data-value="선택1">
                                            <span>팔</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="inputset inputset-lg">
                                <input type="text" class="inputset-input form-control" placeholder="검색어를 입력해주세요." aria-label="내용"><button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
                            </div>
                        </div>
                        <div class="contents-group">
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_He5yFI81RU?si=mrlGT_GiSfbbizvK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 힙 쓰러스트 </h2>
                                    <p class="cardset-desc">하체?</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QqhMqG8YO2k?si=a1LtMyI6zjczuvcZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 덤벨숄더프레스 </h2>
                                    <p class="cardset-desc">어깨?</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JekuOb9yctw?si=ACXzQtC-lC-CD1NB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 백 익스텐션 </h2>
                                    <p class="cardset-desc">등?</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <img class="cardset-img" src="../resources/images/img_basic_N54_1.png" alt="카드 이미지">
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                                    <p class="cardset-desc">템하 비즈니와 함께 하세요!</p>
                                    <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <img class="cardset-img" src="../resources/images/img_basic_N54_2.png" alt="카드 이미지">
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                                    <p class="cardset-desc">템하 비즈니와 함께 하세요!</p>
                                    <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="cardset">
                                <figure class="cardset-figure">
                                    <img class="cardset-img" src="../resources/images/img_basic_N54_3.png" alt="카드 이미지">
                                </figure>
                                <div class="cardset-body">
                                    <h2 class="cardset-tit"> 민감 피부 마스크 시트(피부진정) </h2>
                                    <p class="cardset-desc">템하 비즈니와 함께 하세요!</p>
                                    <span class="cardset-txt">2023.01.01 ~ 2023.01.31</span>
                                </div>
                            </a>
                        </div>
                        <nav class="pagiset pagiset-line">
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                                    <span class="visually-hidden">처음</span>
                                </a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                                    <span class="visually-hidden">이전</span>
                                </a>
                            </div>
                            <div class="pagiset-list">
                                <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
                                <a class="pagiset-link" href="javascript:void(0)">2</a>
                                <a class="pagiset-link" href="javascript:void(0)">3</a>
                                <a class="pagiset-link" href="javascript:void(0)">4</a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                                    <span class="visually-hidden">다음</span>
                                </a>
                            </div>
                            <div class="pagiset-ctrl">
                                <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                                    <span class="visually-hidden">마지막</span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- [E]basic-N54 -->
        </main>

        <script src="../js/tube/setting.js"></script>
        <script src="../js/tube/plugin.js"></script>
        <script src="../js/tube/template.js"></script>
        <script src="../js/tube/common.js"></script>
        <script src="../js/tube/script.js"></script>
    </div>
</body>